<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
<head>
    <meta charset="UTF-8">
    <title>Blog pikachu</title>
</head>
<body>

<h1 class="TITRE"> Bonjour !! je suis pikachu </h1>

<div class="flex-cards">
<div class="card" style="width: 18rem;">
    <img src="/img/pikachu.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pikachu 1</h5>
        <p class="card-text">Pas de lorem ici que du vrai texte</p>
        <a href="/post" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/img/pikachu.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pikachu 2</h5>
        <p class="card-text">je suis de type electrique</p>
        <a href="/post" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/img/pikachu.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pikachu 3</h5>
        <p class="card-text">En vrai j'aime pas trop sasha</p>
        <a href="/post" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/img/pikachu.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pikachu 4</h5>
        <p class="card-text">je sais que utiliser éclair</p>
        <a href="/post" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/img/pikachu.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pikachu 5</h5>
        <p class="card-text">Je suis un gros hamster jaune</p>
        <a href="/post" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

</div>

</body>
</html>
